@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-background: var(--color-emerald-950);
    --color-foreground: var(--color-emerald-50);
    --color-primary: var(--color-emerald-900);
    --color-secondary: var(--color-emerald-800);
    --color-tertiary: var(--color-green-950)
}